html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: 'Righteous', cursive;
  color: white;
}

#map {
  height: 80%;
  width: 80%;
  margin: auto;
}

#home {
  background-image: url(universe.jpg);
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  background-size: cover;
}
